body {
    background-color: rgb(59, 59, 59);
    height: 100vh;
    text-align: center;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    color: white;
    padding: 30px 20px;
    width: 300px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

h1 {
    color: white;
    border-bottom: 1px solid rgb(255, 174, 0);
    padding: 30px;
}
input {
    padding: 10px 20px;
    text-align: center;
}

.currency {
    padding: 10px 60px;
}
button {
    background-color: rgb(255, 174, 0);
    padding: 10px 70px;
    border-radius: 5px;
    border-style: none;
    margin-top: 20px;
}

.chart {
    background-color: rgb(255, 240, 240);
    margin: 100px;
    padding: 30px;
}
